<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Demo</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="description" content="Demo project">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="main.css">
	</head>
	<body ng-controller="myCtrl">
		<div class="container">
			<div class="jumbotron">
				<h1>Articles Exercise</h1>
				<p>Complete the service, and controller to allow your articles app to create, read, update, and destroy articles</p>
			</div>

			<section>
				<h2>Create</h2>
				<div class="input-group">
					<label for="id">id:</label>
					<input class="form-control" type="number" name="id" ng-model="newArticle.id">
				</div>
				<div class="input-group">
					<label for="title">title:</label>
					<input class="form-control" type="text" name="title" ng-model="newArticle.title">
				</div>
				<div class="input-group">
					<label for="body">body</label>
					<textarea class="form-control" name="body" ng-model="newArticle.body"></textarea>
				</div>
				<button class="btn btn-success" ng-click="create()">Create</button>
			</section>

			<section>
				<h2>Update</h2>
				<div class="input-group">
					<label for="id">id:</label>
					<input class="form-control" type="number" name="id" ng-model="updatedArticle.id">
				</div>
				<div class="input-group">
					<label for="title">title:</label>
					<input class="form-control" type="text" name="title" ng-model="updatedArticle.title">
				</div>
				<div class="input-group">
					<label for="body">body</label>
					<textarea class="form-control" name="body" ng-model="updatedArticle.body"></textarea>
				</div>
				<button class="btn btn-success" ng-click="update(updatedArticle)">Update</button>
			</section>

			<section>
				<div class="alert alert-danger alert-dismissible" role="alert" ng-show="hasUpdateError">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="hasUpdateError = false">
				  	<span aria-hidden="true">&times;</span>
				  </button>
				  <span>ID not found. No article to update!</span>
				</div>
			</section>
			<div class="panel panel-default" ng-repeat="article in articles">
				<div class="panel-body">
					<h3>{{article.title}} <span style="float:right" class="delete glyphicon glyphicon-trash" ng-click="delete(article.id)"></span></h3>
					<p>{{article.body}}</p>
				</div>
			</div>
		</div
	</body>
	<script>
	// Code injected by live-server
	(function() {
		function refreshCSS() {
			var sheets = document.getElementsByTagName("link");
			for (var i = 0; i < sheets.length; ++i) {
				var elem = sheets[i];
				var rel = elem.rel;
				if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
					var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
					elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
				}
			}
		}
		var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
		var address = protocol + window.location.host + window.location.pathname + '/ws';
		var socket = new WebSocket(address);
		socket.onmessage = function(msg) {
			if (msg.data == 'reload') window.location.reload()
			else if (msg.data == 'refreshcss') refreshCSS();
		};
		console.log('Live reload enabled.');
	})();
	</script>
	<script type="text/javascript" src="app.js"></script>
</html>
